<h1>Study Dictionary</h1>
<h3>Add a word and a definition! <br> Use this as a place to store words that you need to study.</h3>

<h2><a href="/words">View All Words</a></h2>
<br>
<h2><a href="/words/new">Add a New Word</a></h2>
