<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" id="background" src="image/print.jpg" />
        </div>
      </div> -->
      #parse( $template )
    </div>
  </body>
</html>
