<h1>Add your new word here:</h1>

<form action="/words" method="post">
  <label for="word">Word: </label>
  <input id="word" name="word" type="text">
  <button type="submit" class="btn btn-success">Add a Word</button>
</form>
