#if ($words)
  <h1>Your List of Words:</h1>
  <ul>
    #foreach($word in $words)
     <li>$word</li>
    #end
  </ul>
#else
  <p>That are currently no words.</p>
#end

<a href="/words/$word.getId()/definitions/new">Add a New Word</a>
<br>
<a href="/words">All Words</a>
