<div class="row">
  <div class="col-md-12">
    <img class="img-responsive" id="background" src="image/print.jpg" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Your word has been added!</h1>

    <h3><a href="/words">View all Words</a></h3>
  </div>
</div>
