
#if ($words)
  <h1>Your List of Words:</h1>
  <ul>
    #foreach($word in $words)
     <li><a href="/words/$word.getId()">$word.getUserWord()</a></li>
    #end
  </ul>
#else
  <p>That are currently no words.</p>
#end

<a href="/words/new">Add a New Word</a>
