<div class="row">
  <div class="col-md-12">
    <img class="img-responsive" id="background" src="image/print.jpg" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    #if ($words)
      <h1>Your List of Words:</h1>
      <ul>
        #foreach($word in $words)
         <li><a href="/words/$word.getId()">$word.getUserWord()</a></li>
        #end
      </ul>
    #else
      <p>That are currently no words.</p>
    #end

    <a href="/words/new">Add a New Word</a>
  </div>
</div>
